---
layout: default
---

<div class="contentHome">
    <nav class="menu">
        <ul class="menu-list">
            {% for node in site.pages %} 
                {% if node.title %}
                    <li class="menu-{{ node.title }} {% if page.url == node.url %} active {% endif %}">
                        <a class="page-link page-link-{{ node.title }}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                {% endif %} 
            {% endfor %}
        </ul>
    </nav>
    <div class="circle">
        <img class="logo" src="/resources/images/fjalonso.logo.svg" alt="logo" title="{{ site.description }}" />
        <h1 title="{{ site.description }}"><span id="desarrollo"></span><span id="tipo"></span></h1>
        
        <script type="text/javascript">
            function load() {
                var typed = new Typed("#desarrollo", {
                    strings: [
                        "desarrollo de aplicaciones"],
                    startDelay: 1000,
                    loop: false,
                    typeSpeed: 60,
                    cursorChar: '',
                });
                var typed = new Typed("#tipo", {
                    strings: [
                        "web",
                        "móviles",
                        "multiplataforma",
                        "accesibles",
                        "usables"],
                    backDelay: 2000,
                    startDelay: 3200,
                    smartBackspace: false,
                    loop: true,
                    typeSpeed: 60,
                    backSpeed: 30,
                    onComplete: function(self) { self.startDelay = 0; }
                });
            }
            window.onload = load;
        </script>
    </div>
    <footer class="social">
        <ul class="social-list">
            <!-- li>
                <a title="email: {{ site.email }}" class="email" href="mailto:{{ site.email }}">
                    <i class="icon fjalonso-icon-accion-correo"></i>
                </a>
            </li -->

            {% if site.github_url %}
            <li>
                <a title="github: {{ site.github_name }}" class="github" href="{{ site.github_url }}" rel="nofollow">
                    <i class="icon fjalonso-icon-logo-github"></i>
                </a>
            </li>
            {% endif %} {% if site.linkedin_url %}
            <li>
                <a title="linkedin: {{ site.linkedin_name }}" class="linkedin" href="{{ site.linkedin_url }}" rel="nofollow">
                    <i class="icon fjalonso-icon-logo-linkedin"></i>
                </a>
            </li>
            {% endif %}

            <li>
                <a title="redifusión rss" class="rss" href='{{ "/feed.xml" | prepend: site.baseurl }}'>
                    <i class="icon fjalonso-icon-rss"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
