/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    /*margin-bottom: $size-xs / 2;*/
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $size-xs;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: $color-dark;
    font-family: $title-font-family;
    margin-top: 0;
}

/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;
    transition: all 300ms ease-out;

    /*&:visited {
        color: darken($link-color, 15%);
    }*/

    &:hover {
        color: $link-hover-color;
        background: $color-dark;
    }
}
#content a {
    padding: 1px 3px;
}

/**
 * Blockquotes
 */
blockquote {
    color: $color-medium;
    border-left: 4px solid $color-medium;
    padding-left: $size-xs / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    background-color: rgba(0,0,0,0.1);
}

code {
    padding: 2px 5px;
    border: none;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight pre,
.highlight code {
    background: none;
}


/**
 * Generales
 */
.width--100 {
	width: 100%;
}
.txt--centrado {
	text-align: center;
}